/** 清除默认样式 **/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
/** 单行文本溢出 **/
.b-single-row-over{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/** 内外边距, 宽高 **/
@each $member in 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
  .mt-#{$member} {
      margin-top: unquote($member + 'px') !important;
  }
  .mb-#{$member} {
      margin-bottom: unquote($member + 'px') !important;
  }
  .ml-#{$member} {
      margin-left: unquote($member + 'px') !important;
  }
  .mr-#{$member} {
      margin-right: unquote($member + 'px') !important;
  }
  .pt-#{$member} {
      padding-top: unquote($member + 'px') !important;
  }
  .pb-#{$member} {
      padding-bottom: unquote($member + 'px') !important;
  }
  .pl-#{$member} {
      padding-left: unquote($member + 'px') !important;
  }
  .pr-#{$member} {
      padding-right: unquote($member + 'px') !important;
  }
  .height-#{$member}-px {
      height: unquote($member + 'px') !important;
  }
  .line-height-#{$member}-px {
      line-height: unquote($member + 'px') !important;
  }
  .height-#{$member} {
    height: unquote($member + '%') !important;
  }
  .width-#{$member} {
      width: unquote($member + '%') !important;
  }  
  .width-#{$member}-px {
    width: unquote($member + 'px') !important;
  }   
}
.b-font-weight{
  font-weight: bold;
}
.b-ie-box{
  box-sizing: border-box;
}
/** 清除浮动 **/
.b-clearfix::after{
  content: "";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
}
.b-text-cen{
  text-align: left;
}
.b-text-cen{
  text-align: center;
}
.b-text-ri{
  text-align: right;
}
.b-pointer{
  cursor: pointer;
}
.b-block{
  display: block;
}
.b-inline-block{
  display: inline-block;
}
.b-inline{
  display: inline;
}
.b-flex{
  display: flex;
}
.b-f-dir-row{
  flex-direction: row;
}
.b-f-dir-col{
  flex-direction: column;
}
.b-f-wrap{
  flex-wrap: wrap;
}
.b-f-justify-cen{
  justify-content: center;
}
.b-f-justify-bet{
  justify-content: space-between
}
.b-f-align-cen{
  align-items: center;
}
.b-f-shrink{
  flex-shrink: 0
}